target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iws
*.iml
*.ipr

.vscode/

node_modules/
dist/
.vite/

.env
.env.*
!.env.example

*.log

.DS_Store
Thumbs.db

HELP.md